<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CaseStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VOCheckServlet</display-name>
    <servlet-name>VOCheckServlet</servlet-name>
    <servlet-class>VOCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VOCheckServlet</servlet-name>
    <url-pattern>/VOCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VOApproveServlet</display-name>
    <servlet-name>VOApproveServlet</servlet-name>
    <servlet-class>VOApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VOApproveServlet</servlet-name>
    <url-pattern>/VOApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustCommitServlet</display-name>
    <servlet-name>CustCommitServlet</servlet-name>
    <servlet-class>CustCommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustCommitServlet</servlet-name>
    <url-pattern>/CustCommitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustLogin</display-name>
    <servlet-name>CustLogin</servlet-name>
    <servlet-class>CustLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustLogin</servlet-name>
    <url-pattern>/CustLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustCancelServlet</display-name>
    <servlet-name>CustCancelServlet</servlet-name>
    <servlet-class>CustCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustCancelServlet</servlet-name>
    <url-pattern>/CustCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustCheckMyStatus</display-name>
    <servlet-name>CustCheckMyStatus</servlet-name>
    <servlet-class>CustCheckMyStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustCheckMyStatus</servlet-name>
    <url-pattern>/CustCheckMyStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VORejectServlet</display-name>
    <servlet-name>VORejectServlet</servlet-name>
    <servlet-class>VORejectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VORejectServlet</servlet-name>
    <url-pattern>/VORejectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustBookRoom</display-name>
    <servlet-name>CustBookRoom</servlet-name>
    <servlet-class>CustBookRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustBookRoom</servlet-name>
    <url-pattern>/CustBookRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustSearchServlet</display-name>
    <servlet-name>CustSearchServlet</servlet-name>
    <servlet-class>CustSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustSearchServlet</servlet-name>
    <url-pattern>/CustSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalenderServlet</display-name>
    <servlet-name>CalenderServlet</servlet-name>
    <servlet-class>CalenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalenderServlet</servlet-name>
    <url-pattern>/CalenderServlet</url-pattern>
  </servlet-mapping>
</web-app>